mixin menu-item(img, title, price, description)
    .menu-item
        img(src=img alt=title).menu-item__img
        .menu-item__content 
            .menu-item__title=title
            .menu-item__price=price
            .menu-item__description=description 